# Database
DATABASE_URL=postgresql://rashly_user:rashly_password@localhost:5433/rashly_db
## or "DATABASE_URL=postgresql://<your_db_user>:<your_db_password>@localhost:5432/<your_db_name>" if you run locally

# Port
PORT=8080

# JWT
JWT_ACCESS_SECRET='your_access_secret_here'
JWT_REFRESH_SECRET='your_refresh_secret_here'
JWT_ACCESS_EXPIRY='1d'
JWT_REFRESH_EXPIRY='7d'

# Redis
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379

# Rate limit
THROTTLE_LIMIT=30
THROTTLE_TTL=60000